html,body{
    margin:0;
    padding:0;
    font-size:62.5%;
}




header{
    top:0;
    background-color:rgb(92,192,205);
    height:40px;
    margin:0;
    padding:3px 4px;
    color:#fff;
    display:flex;
}


.left{
    position:absolute;
    top:10px;
    left:9px;
    font-size:3em;
    color:#fff;
    border:0;
    cursor:pointer;
    outline:none;
    text-decoration:none;
}


.personal{font-size:2.6em;
    color:#fff;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
   }

main{

}

.topp {
    margin: 0;
    padding: 0;
    height: 163px;
    width: 100%;
    background:url("https://github.com/Emlark/SVN/blob/awesome/src/task5-1_06.png?raw=true")no-repeat 0 0;
    background-size:100% 100%;
    display:flex;
    align-items:center;
}

.photo{
    height:140px;
    width:120px;
    display:flex;
    justify-content:center;
    align-items:center;
}


    .word1{font-size: 2.2em;
        color:#fff;
        margin:5px;}

    .word2{font-size:1.5em;
        margin:5px;}

    .little{display:inline-block;
        padding:0 2px;}

    .word3{display:inline;
        color:#fff;
        }


    .introduce{box-sizing:border-box;
        height:51px;
        width:100%;
        margin:0;
        padding: 0;
        border-bottom:1px solid rgb(225,229,231);
        display:flex;
        align-items:center;
    }
.skill{
    margin:10px;
    padding:0 5px;
    border-left: 3px solid rgb(92,192,205);
}

footer{
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    height: 65px;
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-around;
}

.half1,.half2{
    box-sizing:border-box;
    flex:0 0 50%;
    height:65px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.message{background-color:#fff;
    height:45px;
    width:97%;
    font-size:2.5em;
    color:rgb(92,192,205);
    border-color:rgb(92,192,205);
    -webkit-border-radius:6px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.phone{
    background-color:rgb(92,192,205);
    border:0;
    height:45px;
    width:97%;
    -webkit-border-radius:6px;
    font-size:2.5em;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;


}