body{background-color: rgb(104,205,213);
    font-size: 62.5%;}

.box{padding:0;
    margin:0;
    position:absolute;
    top:10px;
    left:9px;}

.box1{position:relative;
}
.box1>img{margin:0;
    padding:0;
    position:relative;
    top:100px;}
.word{
    margin:0;
    text-align:left;
    line-height:1.8em;
    font-size:1.4em;
    font-family:"Microsoft Yahei","Microsoft Yahei",serif;
    padding-top:180px;
    padding-left:10%;
    padding-right:10%;
    color:#fff;
}
.box2{margin:0;
    position:absolute;
    left:15%;
    top:400px;}
.box3{margin:0;
    position:absolute;
    right:12%;
    top:400px;}
.word1{text-align:center;
    line-height:1.8em;
    font-size:1.2em;
    font-family:"Hiragino Sans GB","Microsoft Yahei",serif;
    position:relative;
    top:16px;
    left:-20%;
    color:#fff;}
.word2{text-align:center;
    line-height:1.8em;
    font-size:1.2em;
    font-family:"Hiragino Sans GB","Microsoft Yahei",serif;
    position:relative;
    top:16px;
    right:15%;
    color:#fff;}